.my-bg-color-yel{
    background-color: yellow;
}

.my-bg-color-tom{
    background-color: tomato;
}

.my-big{
    width: 70%;
    height: 500px;
}

.my-small{
    width: 30%;
    height: 500px;
} 

.my-size-left{
    height: calc(100% / 5);
} 

.my-size-img-central{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
}