.my-bg-color-yel{
    background-color: yellow;
}

.my-bg-color-tom{
    background-color: tomato;
}

.my-big{
    width: 70%;
    height: 800px;
}

.my-small{
    width: 30%;
    height: 800px;
} 

.my-size-left{
    height: calc(100% / 5);     
}
.my-img-left{
    width: 100%;
    height: 100%;    
} 

.my-size-img-central{ 
    height: 100%;
    width: 100%;
    object-fit: cover; 
    display: none;     
} 
.description{
    display: none;
    width: 100%; 
    text-align: end; 
    right: 1.5rem;
    bottom: 3rem; 
} 

.my-img{
    height: 100%;
    width: 100%; 
    

} 
.my-btn{
    z-index: 3;
} 

.active{ 
    display: block;
}